@keyframes page-load {
    from {
        background-color: rgb(176, 255, 150);
    }
    50%{
        background-color: rgb(115, 148, 104);
    }
    to {
        background-color: rgb(144, 105, 105);
    }
}
.page-loading::before {
    content:" ";
    display:block;
    position:fixed;
    z-index:10;
    height: 10px;
    width:100%;
    top:0;
    left:0;
    background-color:#06D;
    animation: page-load infinite ease-out 2s;
    box-shadow:0 2px 2px rgba(0,0,0,.2);
}