<div>
    <div>
        <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
        <link rel="stylesheet" href="https://MrT-tak.github.io/blogElement/template/GT.css">
        <script defer>
            console.log(location.parent.href)
            // const gitalk = require('gitalk')
            //     require('gitalk/dist/gitalk.css')

            document.addEventListener('DOMContentLoaded', () => {
                const myGitalk = new Gitalk(
                    {
                        clientID: '8c4fbd64f04025afaf07',
                        clientSecret: "c469ea56c1f8916d383c505c850978d4bd5bba0f",
                        //clientSecret: `${GH_GITALK}`,
                        repo: 'mrt-tak.github.io',
                        owner: 'mrt-tak',
                        admin: ['mrt-tak'],
                        id: `comment-${window.parent.location.href}`,
                        proxy: 'https://cors-anywhere.azm.workers.dev/https://github.com/login/oauth/access_token'
                    });
                myGitalk.render('gitalk-container');
            });
        </script>
    </div>
    <!-- comment section -->
    Let's chat! Any questions please post it here.
    <!-- GiTalk init -->
    <div id="gitalk-container">
        <h1>Please wait for gitalk to load</h1><progress style="accent-color: var(BbB-lime-green);"></progress>
    </div>
</div>