<script src="https://giscus.app/client.js"
        data-repo="mrt-tak/mrt-tak.github.io"
        data-repo-id="R_kgDOGpG8dw"
        data-category="comments"
        data-category-id="DIC_kwDOGpG8d84Cju5-"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        data-loading="lazy"
        async>
</script>
<div class="giscus"></div>